.profileContainer {
    padding: 25px;
    background-color: #F7F7F7;
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.welcome-message {
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-shadow: -1px -1px 0 #a5a5a5, 1px -1px 0 #a5a5a5, -1px 1px 0 #a5a5a5, 1px 1px 0 #a5a5a5;
}

.profile-logout-button {
    padding: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    color: white;
    text-shadow: -1px -1px 0 #a5a5a5, 1px -1px 0 #a5a5a5, -1px 1px 0 #a5a5a5, 1px 1px 0 #a5a5a5;
    font-weight: 700;
    cursor: pointer;
    width: 100px;
    height: 39px;
}

.profile_navdiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.searchbar_container{
    z-index: 3;
    display: flex;
    height: 30px;
    margin-bottom: 10px;
}

.search-input {
    border: 2.5px solid #dfdfdf !important;
    height: 34px;
    width: 500px;
    padding: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 5px;
    font-weight: 700;
}

.search-button {
    border: 2.5px solid #dfdfdf !important;
    margin:0;
    height:39px;
    font-weight: 800;
    color:white;
    text-shadow: -1px -1px 0 #dfdfdf, 1px -1px 0 #dfdfdf, -1px 1px 0 #dfdfdf, 1px 1px 0 #dfdfdf;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.search-result-div {
    background: white;
    position: relative;
    border: none;
    width: 305px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hide-search {
    display: none;
    width: 100%;
}

.main-stock-div {
    margin: 20px;
    width: 46%;
    height: 80%;
}

.graph-container {
    max-width: 100%;
    border-bottom: 5px solid #139B59;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.stock-data-div {
    z-index: 1;
    border: none;
    border-top: none;
    background: white !important;
    width: auto;
    height: 300px;
    padding: 20px;
    overflow: scroll;
    border-top-right-radius: none;
    border-top-left-radius: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.recharts-wrapper {
    border-bottom: 5px solid #139B59;
}

.featured-data-title {
    font-weight: 800;
    color: #247856;
}

.featured-data {
    display: flex;
}

.featured-data-text {
    margin-right: 10px;
}

.market-cap {
    color: #139B59
}