.profileContainer {
    padding: 40px;
    background-color: #F7F7F7;
    width: 88%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.welcome-message {
    border: 1px solid #dfdfdf;
    background-color: #EFEFEF;
    color: white;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
    font-weight: 400;
    text-shadow: -1px -1px 0 #a5a5a5, 1px -1px 0 #a5a5a5, -1px 1px 0 #a5a5a5, 1px 1px 0 #a5a5a5;
}

.profile-logout-button {
    padding: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    color: white;
    text-shadow: -1px -1px 0 #a5a5a5, 1px -1px 0 #a5a5a5, -1px 1px 0 #a5a5a5, 1px 1px 0 #a5a5a5;
    font-weight: 700;
    cursor: pointer;
    width: 100px;
    height: 39px;
}

.profile_navdiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.searchbar_container{
    z-index: 3;
    display: flex;
    height: 30px;
    margin-bottom: 10px;
}

.add-button {
    margin-right: 10px;
    border: none;
    background-color: #139B59;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-weight: 800;
}

.remove-button {
    border: none;
    background-color: #8d3d45;
    color: white;
    border-radius: 5px;
    padding: 15px;
    font-weight: 800;
}

.remove-button:hover {
    background-color: #d62839;
    cursor: pointer;
}

.add-button:hover {
    background-color: #05bd64;
    cursor: pointer;
}

.search-input {
    border: 2.5px solid #dfdfdf !important;
    height: 34px;
    width: 500px;
    padding: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 5px;
    font-weight: 700;
}

.search-button {
    border: 2.5px solid #dfdfdf !important;
    margin:0;
    height:39px;
    font-weight: 800;
    color:white;
    text-shadow: -1px -1px 0 #dfdfdf, 1px -1px 0 #dfdfdf, -1px 1px 0 #dfdfdf, 1px 1px 0 #dfdfdf;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.stock-data-main-div{
    height: 100%;
}

.search-result-div {
    background: white;
    position: relative;
    border: none;
    width: 305px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.watchlist-stock {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-content {
    display: flex;
}

.watchlist-div {
    margin-top: 20px;
    width: 50%;
    height: 100%;
    padding: 20px;

}
.hide-search {
    display: none;
    width: 100%;
}

.main-stock-div {
    margin-top: 20px;
    width: 50%;
    height: 100%;
}


.graph-container {
    max-width: 100%;
    border-bottom: 5px solid #139B59;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


.tooltip {
    color: #EFEFEF !important;
    background-color: #247856 !important;
}


.recharts-default-tooltip {
    background-color: black !important;
    border: none !important;
    background-color: transparent !important;
    padding: none !important;
}
.stock-down {
    border-radius: 5px;
    background-color: #8D3E44;
    border-bottom: 5px solid #c53d48;
}

.chart {
    border-radius: 5px;
    background-color: #247856;
}

.stock-data-div {
    z-index: 1;
    border: none;
    border-top: none;
    background: rgb(255, 255, 255) !important;
    width: auto;
    height: 300px;
    padding: 10px;
    overflow: scroll;
    border-top-right-radius: none;
    border-top-left-radius: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
}

.recharts-wrapper {
    border-bottom: 5px solid #139B59;
}

.featured-data-title {
    font-size: 16px;
    color: #247856;
}

.featured-data {
    display: flex;
}

.featured-data-text {
    font-size: 16px;
    margin-right: 10px;
}

.market-cap {
    color: #247856;
    font-size: 20px;
}