.loginform_container {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    align-items: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 5px;
    margin: 0;
    padding: 40px;
}

.loginform_title{
    text-decoration: none;
    font-size: 75px;
    color: #1D5236;
    margin: 0 !important;
}

.loginform_subheading{
    font-size: 50px;
    font-weight: 400;
    margin-top: 0 !important;
    color: #1F8859;
}

.login-error-box {
    background-color: #F8D7DA;
    border: .5px solid #721C24;
    border-radius: 5px;
    font-weight: 600;
    color: #721C24;
    width: auto;
}

li {
    list-style-type: none;
    padding: 5px 5px;
}

.form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    width: 80%;
}

.home_content-form {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.form_input-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    color: #1D5236;
    font-weight: 400;
}

input {
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #1D5236;
    font-weight: 800;
}

input:focus {
    border-bottom: 3px solid #FFFB7D;
    outline: none;
    background-color: #ffffff;

}

.loginbtn {
    background-color: #1d5236;
    transition: width 2s, height 2s, transform 2s;
    transition-delay: .15s;
    padding: 10px;
    border:none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #1d5236;
}

.register_link {
    cursor: pointer;
    color: #1D5236;
    text-decoration: none;
}

.loginbtn:hover {
    transition-delay: .25s;
    background-color: #1D5236;
    padding: 10px;
    border:none;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid #1d5236;
    box-shadow: rgba(18, 216, 28, 0.25) 0px 14px 28px, rgba(50, 170, 20, 0.22) 0px 10px 10px;
}

::placeholder {
  color: rgb(200, 194, 194);
  opacity: 1;
  font-weight: 800;
}

@media only screen and (max-width: 900px) {
   .loginform_container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        margin: 0;
        padding: 40px;
    }
}

@media only screen and (max-height: 100px) {
   .loginform_container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        margin: 0;
        padding: 40px;
    }
}