html {
    font-family: 'Karla', sans-serif;
    height: 100%;
}

body {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/rect%3e%3cpath d='M0 257.54L10 286.41L20 380.17L30 473.17L40 425.55L50 504.73L60 474.33L70 567.1L80 575.52L90 615.46L100 690.61L110 659.61L120 621.12L130 644.02L140 670.66L150 653.77L160 768.28L170 772.72L180 854.96L190 773.79L200 676.21L210 799.49L220 867.07L230 858.69L240 901.44L250 978.94L260 973.3L270 1078.45L280 1068.83L290 948.8L300 918.38L310 999.4L320 1007.72L330 909.72L340 853.1L350 729.02L360 625.55L370 676.4L380 708.71L390 611.2L400 724.92L410 704L420 691.11L430 628.99L440 695.58L450 614.43L460 674.15L470 684.42L480 728.05L490 671.77L500 594.21L510 582.29L520 572.44L530 614.79L540 740.94L550 857.84L560 930.14L570 984.3L580 879.06L590 816.81L600 768.73L610 819.27L620 947.01L630 1010.19L640 1068.37L650 1023.23L660 971.01L670 975.72L680 930.35L690 857.76L700 878.74L710 880.37L720 873.38L730 906.49L740 956.79L750 1057.86L760 995.98L770 918.35L780 900.67L790 776.35L800 727.95L810 796.14L820 760.4L830 753.36L840 664.6L850 599.64L860 597.18L870 580.49L880 532.81L890 550.8L900 459.7L910 583.33L920 695.36L930 824.51L940 738.34L950 643.65L960 548.69L970 642.73L980 701.35L990 643.94L1000 711.36L1010 624.22L1020 556.3L1030 620.15L1040 703.54L1050 604.92L1060 611.78L1070 587.49L1080 607.69L1090 532.33L1100 408.44L1110 447.13L1120 384.53L1130 260.8L1140 176.75L1150 134.77L1160 38.83L1170 94.81L1180 203.44L1190 287.24L1200 327.48L1210 407.14L1220 536.87L1230 456.78L1240 586.15L1250 647.17L1260 670.74L1270 608.35L1280 505.86L1290 442.84L1300 330.27L1310 447.18L1320 404.14L1330 373.48L1340 334.64L1350 265.45L1360 228.62L1370 284.78L1380 248.12L1390 187.25L1400 264.4L1410 210.64L1420 165.95L1430 96.48L1440 134.42L1450 220.84L1460 269.86L1470 227.8L1480 284.81L1490 214.23L1500 89.34L1510 57.58L1520 103.52L1530 30.22L1540 98.87L1550 26.76L1560 16.06L1570 125.49L1580 14.85L1590 122.04L1600 97.02L1610 50.93L1620 52.97L1630 107.19L1640 35.13L1650 24.13L1660 89.38L1670 158.46L1680 262.26L1690 390.09L1700 333.95L1710 199.14L1720 267.65L1730 330.42L1740 260.42L1750 288.13L1760 323.34L1770 282L1780 150.78L1790 95.92L1800 173.51L1810 49.13L1820 179.65L1830 276.24L1840 406.83L1850 480.97L1860 395.38L1870 383.81L1880 443.34L1890 527.31L1900 400.17L1910 444.48L1920 428.84' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 257.54L10 286.41L20 380.17L30 473.17L40 425.55L50 504.73L60 474.33L70 567.1L80 575.52L90 615.46L100 690.61L110 659.61L120 621.12L130 644.02L140 670.66L150 653.77L160 768.28L170 772.72L180 854.96L190 773.79L200 676.21L210 799.49L220 867.07L230 858.69L240 901.44L250 978.94L260 973.3L270 1078.45L280 1068.83L290 948.8L300 918.38L310 999.4L320 1007.72L330 909.72L340 853.1L350 729.02L360 625.55L370 676.4L380 708.71L390 611.2L400 724.92L410 704L420 691.11L430 628.99L440 695.58L450 614.43L460 674.15L470 684.42L480 728.05L490 671.77L500 594.21L510 582.29L520 572.44L530 614.79L540 740.94L550 857.84L560 930.14L570 984.3L580 879.06L590 816.81L600 768.73L610 819.27L620 947.01L630 1010.19L640 1068.37L650 1023.23L660 971.01L670 975.72L680 930.35L690 857.76L700 878.74L710 880.37L720 873.38L730 906.49L740 956.79L750 1057.86L760 995.98L770 918.35L780 900.67L790 776.35L800 727.95L810 796.14L820 760.4L830 753.36L840 664.6L850 599.64L860 597.18L870 580.49L880 532.81L890 550.8L900 459.7L910 583.33L920 695.36L930 824.51L940 738.34L950 643.65L960 548.69L970 642.73L980 701.35L990 643.94L1000 711.36L1010 624.22L1020 556.3L1030 620.15L1040 703.54L1050 604.92L1060 611.78L1070 587.49L1080 607.69L1090 532.33L1100 408.44L1110 447.13L1120 384.53L1130 260.8L1140 176.75L1150 134.77L1160 38.83L1170 94.81L1180 203.44L1190 287.24L1200 327.48L1210 407.14L1220 536.87L1230 456.78L1240 586.15L1250 647.17L1260 670.74L1270 608.35L1280 505.86L1290 442.84L1300 330.27L1310 447.18L1320 404.14L1330 373.48L1340 334.64L1350 265.45L1360 228.62L1370 284.78L1380 248.12L1390 187.25L1400 264.4L1410 210.64L1420 165.95L1430 96.48L1440 134.42L1450 220.84L1460 269.86L1470 227.8L1480 284.81L1490 214.23L1500 89.34L1510 57.58L1520 103.52L1530 30.22L1540 98.87L1550 26.76L1560 16.06L1570 125.49L1580 14.85L1590 122.04L1600 97.02L1610 50.93L1620 52.97L1630 107.19L1640 35.13L1650 24.13L1660 89.38L1670 158.46L1680 262.26L1690 390.09L1700 333.95L1710 199.14L1720 267.65L1730 330.42L1740 260.42L1750 288.13L1760 323.34L1770 282L1780 150.78L1790 95.92L1800 173.51L1810 49.13L1820 179.65L1830 276.24L1840 406.83L1850 480.97L1860 395.38L1870 383.81L1880 443.34L1890 527.31L1900 400.17L1910 444.48L1920 428.84L1920 1080L0 1080z' fill='url(%23SvgjsLinearGradient1001)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1001'%3e%3cstop stop-opacity='0.65' stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23606060' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    margin: 0;
    height: 100%;
}

.home_content {
    height: 100%;
    display: flex;
}

.home_content-title {
    height: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: 800;
    text-shadow: rgb(0, 0, 0) 0px 5px 15px;;
}

.home_content-form-container {
    height: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.icon {
    color: green;
}

.home_content-form {

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    width: 60%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    width: 80%;
}

.form_input-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #183152;
    font-weight: 700;
}

input:focus {
    border-bottom: 3px solid #C4AC5B;
    outline: none;

}



::placeholder {
  color: rgb(200, 194, 194);
  opacity: 1;
  font-weight: 400;
}

.registerbtn {
    background-color: #41b133;
    padding: 10px;
    border:none;
    border-radius: 5px;
    color: white;
}

label {
    font-weight: 400;
}