html {
    font-family: 'Karla', sans-serif;
    height: 100%;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1042%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(3%2c 109%2c 11%2c 1)'%3e%3c/rect%3e%3cpath d='M0 135.41L10 192.82L20 79.61L30 67.7L40 25.34L50 145.67L60 122.33L70 155.68L80 171.92L90 80.14L100 77.6L110 128.33L120 191.9L130 304.14L140 187.53L150 288.71L160 173.67L170 133.71L180 82.12L190 176.98L200 183.19L210 208.65L220 257.08L230 256.21L240 310.93L250 430.07L260 517.59L270 629.71L280 718.42L290 593.06L300 500.91L310 526.12L320 522.88L330 482.31L340 603.8L350 634.32L360 711.91L370 774.12L380 833.41L390 846.87L400 745.08L410 655.18L420 644.73L430 757.21L440 879.89L450 746.1L460 703.6L470 639.11L480 737.11L490 740.29L500 634.93L510 559.05L520 534.36L530 632.56L540 705.34L550 807.98L560 730.51L570 628.73L580 684.52L590 740.7L600 678.57L610 812.01L620 726.13L630 612.49L640 650.18L650 625.11L660 538.05L670 628.34L680 590.36L690 582.43L700 668.68L710 768.4L720 776.89L730 793.75L740 819.64L750 791.35L760 795.54L770 926.13L780 975.45L790 875.83L800 923.02L810 826.98L820 929.48L830 849.81L840 740.1L850 671.72L860 709.66L870 589.92L880 635.65L890 714.78L900 704.17L910 697.42L920 712.78L930 710.03L940 661.81L950 672.73L960 701.18L970 835.38L980 810.33L990 709.51L1000 631.03L1010 701.22L1020 693.27L1030 608.27L1040 501.17L1050 415.7L1060 448.49L1070 501.8L1080 408.81L1090 332.07L1100 373.61L1110 407.97L1120 319.47L1130 185.84L1140 281.47L1150 170.9L1160 201.93L1170 265.03L1180 355.37L1190 376.87L1200 334.2L1210 432.62L1220 495.02L1230 620.61L1240 539.75L1250 568.56L1260 674.57L1270 638.87L1280 761.91L1290 630.22L1300 555.75L1310 580.38L1320 530.81L1330 643.01L1340 655.86L1350 704.01L1360 598.1L1370 625.92L1380 660.97L1390 657.48L1400 634.68L1410 506.34L1420 402.98L1430 305.49L1440 314.76L1450 443.42L1460 546L1470 447.24L1480 325.3L1490 228.15L1500 267.76L1510 147.1L1520 278.74L1530 179.87L1540 199.97L1550 114.98L1560 211.29L1570 96.43L1580 209.48L1590 147.35L1600 171.08L1610 42.7L1620 175.58L1630 120.63L1640 48L1650 155.06L1660 206.77L1670 335.22L1680 274.09L1690 178.2L1700 182.72L1710 312.51L1720 372.03L1730 439.34L1740 439.54L1750 322.84L1760 376.02L1770 483.79L1780 386.32L1790 368.7L1800 458.37L1810 571.12L1820 471.31L1830 572.07L1840 674.89L1850 584.54L1860 458.95L1870 493.77L1880 365.29L1890 435.77L1900 395.04L1910 321.79L1920 222.7' stroke='rgba(3%2c 109%2c 11%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 135.41L10 192.82L20 79.61L30 67.7L40 25.34L50 145.67L60 122.33L70 155.68L80 171.92L90 80.14L100 77.6L110 128.33L120 191.9L130 304.14L140 187.53L150 288.71L160 173.67L170 133.71L180 82.12L190 176.98L200 183.19L210 208.65L220 257.08L230 256.21L240 310.93L250 430.07L260 517.59L270 629.71L280 718.42L290 593.06L300 500.91L310 526.12L320 522.88L330 482.31L340 603.8L350 634.32L360 711.91L370 774.12L380 833.41L390 846.87L400 745.08L410 655.18L420 644.73L430 757.21L440 879.89L450 746.1L460 703.6L470 639.11L480 737.11L490 740.29L500 634.93L510 559.05L520 534.36L530 632.56L540 705.34L550 807.98L560 730.51L570 628.73L580 684.52L590 740.7L600 678.57L610 812.01L620 726.13L630 612.49L640 650.18L650 625.11L660 538.05L670 628.34L680 590.36L690 582.43L700 668.68L710 768.4L720 776.89L730 793.75L740 819.64L750 791.35L760 795.54L770 926.13L780 975.45L790 875.83L800 923.02L810 826.98L820 929.48L830 849.81L840 740.1L850 671.72L860 709.66L870 589.92L880 635.65L890 714.78L900 704.17L910 697.42L920 712.78L930 710.03L940 661.81L950 672.73L960 701.18L970 835.38L980 810.33L990 709.51L1000 631.03L1010 701.22L1020 693.27L1030 608.27L1040 501.17L1050 415.7L1060 448.49L1070 501.8L1080 408.81L1090 332.07L1100 373.61L1110 407.97L1120 319.47L1130 185.84L1140 281.47L1150 170.9L1160 201.93L1170 265.03L1180 355.37L1190 376.87L1200 334.2L1210 432.62L1220 495.02L1230 620.61L1240 539.75L1250 568.56L1260 674.57L1270 638.87L1280 761.91L1290 630.22L1300 555.75L1310 580.38L1320 530.81L1330 643.01L1340 655.86L1350 704.01L1360 598.1L1370 625.92L1380 660.97L1390 657.48L1400 634.68L1410 506.34L1420 402.98L1430 305.49L1440 314.76L1450 443.42L1460 546L1470 447.24L1480 325.3L1490 228.15L1500 267.76L1510 147.1L1520 278.74L1530 179.87L1540 199.97L1550 114.98L1560 211.29L1570 96.43L1580 209.48L1590 147.35L1600 171.08L1610 42.7L1620 175.58L1630 120.63L1640 48L1650 155.06L1660 206.77L1670 335.22L1680 274.09L1690 178.2L1700 182.72L1710 312.51L1720 372.03L1730 439.34L1740 439.54L1750 322.84L1760 376.02L1770 483.79L1780 386.32L1790 368.7L1800 458.37L1810 571.12L1820 471.31L1830 572.07L1840 674.89L1850 584.54L1860 458.95L1870 493.77L1880 365.29L1890 435.77L1900 395.04L1910 321.79L1920 222.7L1920 1080L0 1080z' fill='url(%23SvgjsLinearGradient1043)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1042'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1043'%3e%3cstop stop-opacity='0.65' stop-color='rgba(3%2c 109%2c 11%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%2306cd15' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    margin: 0;
    height: 100%;
}

.home_content {
    height: 100%;
    display: flex;
}

.home_content-title {
    height: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: 800;
    text-shadow: rgb(0, 0, 0) 0px 5px 15px;;
}

.home_content-form-container {
    height: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.icon {
    color: green;
}

.home_content-form {

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    width: 60%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    width: 80%;
}

.form_input-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #183152;
    font-weight: 700;
}

input:focus {
    border-bottom: 3px solid #C4AC5B;
    outline: none;

}



::placeholder {
  color: rgb(200, 194, 194);
  opacity: 1;
  font-weight: 400;
}

.registerbtn {
    background-color: #41b133;
    padding: 10px;
    border:none;
    border-radius: 5px;
    color: white;
}

label {
    font-weight: 400;
}