html {
    font-family: 'Karla', sans-serif;
    height: 100%;
}

body {
    background-color: #1d5236;
background-image: linear-gradient(45deg, #1d5236 0%, #FFFB7D 100%);
    margin: 0;
    height: 100%;
}

.home_content {
    height: 100%;
    display: flex;
}

.card_container {
    display: flex;
    justify-content: space-around;
}

.card {
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: none;
}

.home_content-title {
    flex-direction: column;
    height: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: 800;
    text-shadow: rgb(0, 0, 0) 0px 5px 10px;
}

.home_content-form-container {
    height: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.icon {
    color: green;
}

.home_content-form {

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    width: 60%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    width: 80%;
}

.form_input-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #1D5236;
    font-weight: 700;
}

input:focus {
    border-bottom: 3px solid #FFFB7D;
    outline: none;

}



::placeholder {
  color: rgb(200, 194, 194);
  opacity: 1;
  font-weight: 400;
}

.registerbtn {
    background-color: #41b133;
    padding: 10px;
    border:none;
    border-radius: 5px;
    color: white;
}

label {
    font-weight: 400;
}